<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="student">
      <h2 data-cy="studentDetailsHeading"><span jhiTranslate="studentManagerApp.student.detail.title">Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ student.id }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.student.firstName">First Name</span></dt>
        <dd>
          <span>{{ student.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.student.lastName">Last Name</span></dt>
        <dd>
          <span>{{ student.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.student.email">Email</span></dt>
        <dd>
          <span>{{ student.email }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.student.phone">Phone</span></dt>
        <dd>
          <span>{{ student.phone }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.student.dateOfBirth">Date Of Birth</span></dt>
        <dd>
          <span>{{ student.dateOfBirth | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.student.classroom">Classroom</span></dt>
        <dd>
          <span *ngFor="let classroom of student.classrooms; let last = last">
            <a [routerLink]="['/classroom', classroom.id, 'view']">{{ classroom.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
