<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="classroom">
      <h2 data-cy="classroomDetailsHeading"><span jhiTranslate="studentManagerApp.classroom.detail.title">Classroom</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ classroom.id }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.classroom.nameOfSubject">Name Of Subject</span></dt>
        <dd>
          <span>{{ classroom.nameOfSubject }}</span>
        </dd>
        <dt><span jhiTranslate="studentManagerApp.classroom.line">Line</span></dt>
        <dd>
          <span jhiTranslate="{{ 'studentManagerApp.Line.' + classroom.line }}">{{ classroom.line }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/classroom', classroom.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
